@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Kalam', cursive;
    background-color: lightblue;

    .quote {
        padding: 5px;
        text-align: center;
    }
}